
<h4> Can't view the Baybayin font?</h4> 
  <p>
    I use <a href="https://github.com/ctrlcctrlv/OpenBaybayin/blob/master/OpenBaybayin.otf">OpenBaybayin</a>.

    If you need help adding it, here are the instructions for 
    <ul>
      <li>
        <a href="https://wiki.debian.org/Fonts#Adding_fonts">Ubuntu/Debian</a>
      </li>
      <li>
        <a href="https://www.lifewire.com/installing-truetype-or-opentype-fonts-in-windows-1074134">Windows</a>
      </li>
      <li>
        <a href="https://support.apple.com/en-ph/guide/ipad/ipad952422ba/ipados">Apple</a>
      </li>
    </ul>
  </p>
<h4>Want to chat with your friends in Baybayin? </h4> 
  <p>
    <a href="https://www.youtube.com/watch?v=UIs0kAdUEX0">Check out this video for instructions on how to add it to your Android keyboard.</a>
  </p>