<header id="header">
	<div id = site_title>
		<a href="{{ "/" | absolute_url }}">
			<img src="{{ site.title-image }}" id= "title-image" alt="paglalayag-crest" height="360" width="300"></h1>
		</a>
		{% if site.data.settings.subtitle.active %}
		<h2>
			{{ site.data.settings.subtitle.text1 }} 
			<br>
			{{ site.data.settings.subtitle.text2 }}
		</h2>
		{% endif %}
	</div>

	<div id="subheader">
		{% if site.data.settings.nav.pages.active %}
		<nav class="pages">
			{%- include pages.html -%}
		</nav>
		{% endif %}
		{% if site.data.settings.nav.social.active %}
<!--
		<nav class="social">
			 {% include social.html %} 
		</nav>
-->
		{% endif %}
	</div>
</header>