<div class="podcast-hosts">
	<ul>
		{% for host in site.data.podcast_hosts %}
			<li>
				<a href="{{host.url}}"> <img src="{{host.icon}}"> {{host.title}} </a>
			</li>
		{% endfor %}

		<li>
			<div class="podsub-button">
				<ul class="podsub-text">
					<a href="https://paglalayag.net/podcast.xml">
						<li>
							<img src="/assets/img/icons/rss.png" width=35>
						</li>
						<li>
							Not using Spotify? <br>paste this in your client! 
						</li>
						<li>
							<img src="/assets/img/icons/rss.png" width=35>
						</li>
					</a>
				</ul>
			</div>
		</li>
	</ul>
</div>