.red {
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, $light-red 27%, $dark-red 75%);
  color: #fff;
  a:hover {
    color: $purple;
  }
  a {
    color: $beige;
    
    margin-right: 3px;
    font-size: 1.3rem;
  }
}

  .post-container #card {
    width: 85% 
  }

#card {
  justify-content: center;
  align-items: stretch;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);

  #contents{
    display: flex;
    flex-direction: row;
    height: 80vh;
  }

  #display {
    width: 85%;
    border-radius: 20px 0 0 20px;
    background: rgba(255,255,255,.5);
    backdrop-filter: blur(30px) hue-rotate(20deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    > * {
      text-align: center;
    }
    #art {
      max-width: 85%;
      max-height: 85%;
      margin: 0 auto;
    }
  }

  #list {
    width: 40%;
    overflow: auto;
    border-radius: 0 20px 20px 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    .item {
      padding: 0 1em;
      background: white;
      transition: all .3s ease;
      &:first-of-type {
        border-radius: 0 20px 0 0;
      }
      &:last-of-type {
        border-radius: 0 0 20px 0;
      }
      &.is-active {
        background: rgba(255,255,255,.5);
        backdrop-filter: blur(30px) hue-rotate(20deg);
        transition: all .3s ease;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px){
    #contents {
      flex-direction: column;
      height: 200vh;

      #display {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
      #list {
        width: 100%;
        border-radius: 0 0 20px 20px;
        .item {
          &:first-of-type {
            border-radius: 0;
          }
        }
      }
    }
  }
}

.podsub-button {
  background-color: $dark-red;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  font-size: 0.475rem;
  line-height: 1;
  padding: 1em 1em;
  text-align: center;
  text-shadow: none;
  align: center;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  margin-top: 1rem;
  li a {
      color: #fff;
      text-decoration: none;
  }
  li a:hover {
      color: #fff;
      text-decoration: none;
  }
  p, ul, ol{
    li {
     font-size: 0.95rem;
     }
  }
}

.podsub-button:hover {
  background-color: $dark-red;
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.2);
  transform: scale(1.02) translate(-4px);
}

.podsub-button:active {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  transform: scale(0.98) translateY(-2px);
}

.podsub-text {
  display: flex;
  margin-top: 0.2rem;
  margin-right: 1.85rem;
  margin-bottom: 0.2rem;
}

.podsub-text li {
  height: 2rem;
  text-align: center;
  list-style-type: none;
}

.podsub-text a {
  align-items: left;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  will-change: opacity, transform;
}

.podsub-text a:hover{
    color: #fff;
}

.podcast-hosts {
  a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.05rem;
  }

  li {
    text-align: center;
    list-style-type: none;
  }
}

.pod-host {
  height: 2rem;
}