#miniheader{
    img {
        float: left;
        width: 80px;
    }
    position: relative;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    display: block;
    margin-top: 15px;
        .minipages{
            width: 80%;
            text-align: right;
            display: block;
    
            position: absolute;
            bottom: 0;
            right: 0;

            a:hover{
                color: $purple;
            }

            a{
                text-decoration: none;
                color: $base; 
                margin-right: 3px;
                font-size: 1.3rem;
            }
        }
}

.red #miniheader {
    a:hover {
        color: $light-red;
    }

    a {
        text-decoration: none;
        color: #fff;
        margin-right: 3px;
        font-size: 1.3rem;
    }
}