---
layout: categories
---

<p id="podcasts"hidden>
[
  {% for post in site.categories.podcasts %}
    {% unless post.is_redirect %}
      {
        "title": "{{ post.title }}",
        "teaser": "{{post.image.alt}}",
        "audio": "{{ post.podcast_link }}",
        "image": "{{ post.image.path }}",
        "path": "{{ post.url }}"
      }
    {% unless forloop.last %},{% endunless %}
    {% endunless %}
  {% endfor %}
]
</p>

  <div id='card' data-controller="favorite-toggle">
    <div id='contents'>
      <div id='display'>
        <div id='card-header'>
          <h1 id='title'></h1>
          <p>
            <span id='song_title'></span>
          </p>
        </div>
        <div id='image'>
          <img src='' alt='' id='art' />
        </div>
        <audio controls src='' id='audio'>
        </audio>
      </div>
      <div id='list'>
      </div>
    </div>
  </div>
  {% include podsub.html %}
</div>
<script defer type="text/javascript" src="/assets/js/music-player.js"></script>
